.fb-comments, .fb-comments span, .fb-comments iframe[style], .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget iframe {
    width: 100% !important;
}

.social-shares{  
    .fb-like, .fb_iframe_widget iframe{
        width: 80px !important;
        position: relative;
        top: 0;
    }
}