.fb-comments, .fb-comments span, .fb-comments iframe[style], .fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget iframe {
    width: 100% !important;
}

.social-shares{
    div:not(:first-child) {
      position: relative;
      z-index: 1;
    }

    .fb-like, .fb_iframe_widget iframe{
        width: 450px !important;
        position: relative;
        top: 0;
		
		.post__body &{
			vertical-align: top;
			margin-top: -1px;
		}
    }
	
	.fb-like {
		width: 80px !important;
	}
}

.summer-missions__map {
    height:500px;
}

.summer-missions__map img { 
    max-width:none;
}

$color-dark-gray: #514c4e;

.page__links {
    position: relative;
    top: 71px; 
    z-index: 1;  
    text-align: center;
    float: none
}

.page__links li {
    display: inline-block; 
    vertical-align: middle;
    border-right: 1px solid $color-dark-gray;
    
    &:last-child{
        border-right: none;
    }
}

.page__links li > a {
    display: inline-block;
    padding: 8px 26px;
    background-color: $color-gray; 
    color: #fff; 
    font-weight: 500; 
    font-size: 17px;
    text-transform: capitalize;
    
    &:hover{
        background-color: $color-dark-gray; 
        border-color: #393637; 
        text-decoration: none;
    }
    
    @include mq(501px, max) {
        padding: 6px 12px; 
    }
    
    @include mq(580px, max) {
        font-size: 72%;
    }
}

.page--article .page__links {
    z-index: 1; 
    margin-bottom: 42px; 
    top: 42px;
}
