 <article class="post-article">
        
		<!-- ARTICLE HEADLINE COMPONENT -->
      	<header class="post__headline  layout-single-column">


            <h1>{% page.title %}</h1>
       

        	<ul class="post-meta">
                {%#if page.author %}
          		    <li class="accent">by {% page.author %}</li>
                {%/if%}

                {%#if page.twitterUser %}
          		    <li class="accent">
              		    <a href="https://twitter.com/{% page.twitterUser %}">@{% page.twitterUser %}</a>
            	    </li>
                {%/if%}

         	    {%#if page.date %}
          		    <li>
              		    <time>{% page.date %}</time>
            	    </li>
           	    {%/if%}
        	</ul>
    
      	</header>

        
        <!-- POST BODY -->
        <div class="post__body  layout-single-column">


    <figure >
        <img src="{%page.imagePath%}"/>
            <figcaption class="image__caption  default-view">
            Integer posuere erat a ante venenatis dapibus posuere velit aliquet.           
        <span class="image-credit">Photo by Morgan Thrall</span>
        </figcaption>
    </figure>

        	{%#include "post-body-parsys" as="foundation/components/parsys"%}{%/include%}

        </div>
        

        
        
      </article>
      {%#include "facebook-coments-feed" as="CruOrgApp/components/section/facebook-coments-feed"%}{%/include%}
