 <article class="post-article  color-white box-shadow--thin  layout--full">

		<!-- ARTICLE HEADLINE COMPONENT -->
      	<header class="post__headline  layout-single-column">


            <h1 class="post-title pt_x">
				{%#if page.pageTitle %}
          		    {%page.pageTitle%}
                {%else%}
                	{%page.title%}
                {%/if%}

            </h1>

			{%#if page.subtitle %}
				<h2 class="post-subtitle  h3">{%page.subtitle%}</h2>
            {%/if%}

        	<ul class="post-meta">
                {%#if page.author %}
          		    <li class="accent">by {% page.author %}</li>
                {%/if%}

                {%#if page.twitterUser %}
          		    <li class="accent">
              		    <a href="https://twitter.com/{% page.twitterUser %}">@{% page.twitterUser %}</a>
            	    </li>
                {%/if%}

         	    {%#if page.dateText %}
          		    <li>
              		    <time>{% page.dateText %}</time>
            	    </li>
           	    {%/if%}
        	</ul>
    
      	</header>

        
        <!-- POST BODY -->
        <div class="post__body  layout-single-column  pb_x">
        	{%#include "article-share" as="CruOrgApp/components/section/article-share"%}{%/include%}
            {%#if page.imagePath %}
                <figure>

        	        <img src="{%page.imagePath%}"/>

                    {%#unless page.isCaptionEmpty %}
                        <figcaption class="image__caption  default-view">
                            {%page.imageCaption%}
                        {%#if page.imageCredit%}
                            <span class="image-credit">{%page.imageCredit%}</span>
                        {%/if%}
                        </figcaption>
                    {%/unless%}
                </figure>
            {%/if%}
        	{%#include "post-body-parsys" as="foundation/components/parsys"%}{%/include%}
      		{%#include "bottom-parsys" as="foundation/components/parsys"%}{%/include%}

        </div>



        
      </article>

    {%#include "facebook-coments-feed" as="CruOrgApp/components/section/facebook-comments-feed"%}{%/include%}

