 <article class="post-article">
        
        
        <!-- COVER IMAGE COMPONENT -->
        <!-- Article main image -- full width version -->
      	<div class="layout-background-fill">
          <div class="cover-image-mask">
          	<div class="cover-image" style="background-image:url(http://www.cru.org/ucmcons/groups/public/@shared-lh-comm-web/documents/stillimage/~extract/CMS1_057928~1~staticrendition/cru640x360.jpg);"></div>         
          </div>
      	</div>
        <!-- End article main image -- full width version -->
      
      
        <!-- ARTICLE HEADLINE COMPONENT -->
      	<header class="post__headline  layout-single-column">


            <h1>{% page.pageTitle %}</h1>
       

        	<ul class="post-meta">
                {%#if page.author %}
          		    <li class="accent">by {% page.author %}</li>
                {%/if%}

                {%#if page.twitterUser %}
          		    <li class="accent">
              		    <a href="https://twitter.com/{% page.twitterUser %}">@{% page.twitterUser %}</a>
            	    </li>
                {%/if%}

         	    {%#if page.date %}
          		    <li>
              		    <time>{% page.date %}</time>
            	    </li>
           	    {%/if%}
        	</ul>
    
      	</header>

        
        <!-- POST BODY -->
        <div class="post__body  layout-single-column">
            {%#include "post-body" as="foundation/components/parsys"%}{%/include%}
        </div>
        
        
      </article>
