{%#if list.pages %}
<div class="grid mb">
<div class="grid__item masonry__item">
	<div class="color-white box-shadow--thin p">
      {%#if content.title %}
        {%#if content.href %}
            <a href="{% content.href %}">
        {%/if %}
        <h2>{% content.title %}</h2>
        {%#if content.href %}
            </a>
        {%/if %}
      {%/if %}
      <ul class="grid">
  		  {%#each list.pages %}
			<li class="grid__item desk--one-half">
				<a href="{% this.path %}.html">
                	<h5 class="mb0 weight--bold">{% this.title %}</h5>
                </a>
    		 {%#if this.description %}
				<p class="small-text">
                	{% this.description %}
            	</p>
		     {%/if%}
			</li>
  		 {%/each%}
   		</ul>
	</div>
  </div>
 </div>
{%else%}
{%#if page.isEditMode %}
<h2>Curated List</h2>
{%/if%}
{%/if%}



