{%#if global.apikey %}
    <fb:like-box href="https://www.facebook.com/CruGlobal" width="450" show_faces="false" stream="true" header="false" border_color="white" class=" fb_iframe_widget" fb-xfbml-state="rendered" fb-iframe-plugin-query="app_id={%global.apikey%}&amp;header=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FCruGlobal&amp;locale=en_US&amp;sdk=joey&amp;show_faces=false&amp;stream=true&amp;width=450">
        <span  class="fb-feed" style="vertical-align: bottom; width: 100%; height: 395px;">
            <iframe name="f3292db77c" width="100%" height="1000px" frameborder="0" allowtransparency="true" scrolling="no" title="{%global.title%}" src="http://www.facebook.com/plugins/like_box.php?app_id={%global.apikey%}&amp;channel=http%3A%2F%2Fstatic.ak.facebook.com%2Fconnect%2Fxd_arbiter%2FwTH8U0osOYl.js%3Fversion%3D40%23cb%3Df3a68e0ba%26domain%3Dwww.cru.org%26origin%3Dhttp%253A%252F%252Fwww.cru.org%252Ff255a947c%26relation%3Dparent.parent&amp;header=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FCruGlobal&amp;locale=en_US&amp;sdk=joey&amp;show_faces=false&amp;stream=true&amp;width=450" class="" style="border: none; visibility: visible; width: 100%; height: 395px;"></iframe>
        </span>
    </fb:like-box>
{%else%}
    <p>Please add an API key in the design dialog.</p>
{%/if%}