<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
        <server>
            <id>xumak-nexus-external</id>
            <username>admin</username>
            <password>admin123</password>
        </server>
        <server>
            <id>xumak-nexus</id>
            <username>bedrock_nexus</username>
            <password>YgH2BceQLpUAtaJysEbwq6Gj</password>
        </server>
    </servers>

	<profiles>
		<profile>
			<id>xumak-nexus-public</id>
			<activation>
				<activeByDefault>false</activeByDefault>
			</activation>
			<repositories>
				<repository>
					<id>xumak-nexus</id>
					<name>XumaK Nexus Public</name>
					<url>http://54.236.230.120/nexus/content/repositories/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>xumak-nexus</id>
					<url>http://54.236.230.120/nexus/content/repositories/public</url>
					<releases>
						<enabled>true</enabled>
					</releases>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories>
		</profile>
		<profile>
	              <id>cqblueprints</id>
	              <activation>
	                  <activeByDefault>true</activeByDefault>
	              </activation>
	              <repositories>
	                  <repository>
	                      <id>cqblueprints.releases</id>
	                      <name>CQ Blueprints Release Repository</name>
	                      <url>http://dev.cqblueprints.com/nexus/content/repositories/releases/</url>
	                      <releases>
	                          <enabled>true</enabled>
	                      </releases>
	                      <snapshots>
	                          <enabled>true</enabled>
	                      </snapshots>
	                  </repository>
	              </repositories>
	              <pluginRepositories>
	                  <pluginRepository>
	                      <id>cqblueprints.plugins.releases</id>
	                      <name>CQ Blueprints Plugin Release Repository</name>
	                      <url>http://dev.cqblueprints.com/nexus/content/repositories/releases/</url>
	                      <releases>
	                          <enabled>true</enabled>
	                      </releases>
	                      <snapshots>
	                          <enabled>false</enabled>
	                      </snapshots>
	                  </pluginRepository>
	              </pluginRepositories>
	          </profile>
	  		<profile>
	  		    <id>adobe-public</id>
	  		    <activation>
	  		         <activeByDefault>true</activeByDefault>
	  		    </activation>
	  		    <properties>
	  		         <releaseRepository-Id>adobe-public-releases</releaseRepository-Id>
	  		         <releaseRepository-Name>Adobe Public Releases</releaseRepository-Name>
	  		         <releaseRepository-URL>http://repo.adobe.com/nexus/content/groups/public</releaseRepository-URL>
	  		    </properties>
	  		    <repositories>
	  		         <repository>
	  		             <id>adobe-public-releases</id>
	  		             <name>Adobe Basel Public Repository</name>
	  		             <url>http://repo.adobe.com/nexus/content/groups/public</url>
	  		             <releases>
	  		                 <enabled>true</enabled>
	  		                 <updatePolicy>never</updatePolicy>
	  		             </releases>
	  		             <snapshots>
	  		                 <enabled>true</enabled>
	  		             </snapshots>
	  		         </repository>
	  			     <repository>
	  				<id>adobe</id>
	  				<name>Adobe</name>
	  				<url>http://repo.adobe.com/archiva/repository/day-central</url>
	  				<releases>
	  				<enabled>true</enabled>
	  				</releases>
	  				<snapshots>
	  				<enabled>true</enabled>
	  				</snapshots>
	  				</repository>
	  		     </repositories>
	  		     <pluginRepositories>
	  		         <pluginRepository>
	  		             <id>adobe-public-releases</id>
	  		             <name>Adobe Basel Public Repository</name>
	  		             <url>http://repo.adobe.com/nexus/content/groups/public</url>
	  		             <releases>
	  		                 <enabled>true</enabled>
	  		                 <updatePolicy>never</updatePolicy>
	  		             </releases>
	  		             <snapshots>
	  		                 <enabled>true</enabled>
	  		             </snapshots>
	  		         </pluginRepository>
	  		     </pluginRepositories>
	  		</profile>  
	</profiles>
	<activeProfiles>
		<activeProfile>adobe-public</activeProfile>
		<activeProfile>cqblueprints</activeProfile>
		<activeProfile>xumak-nexus-public</activeProfile>
	</activeProfiles>
</settings>
