<a class="grid__item one-whole {%#if content.width %}{% content.width %}{%else%}{%#if page.isEditMode %}desk--one-third{%/if %}{%/if%} text--center" href="{% content.href %}">
    <div class="tile__item">
        <div>
            {%#if content.imagePath %}
        		<img src="{% content.imagePath %}" alt="{% content.title %}">
        	{%else%}
				{%#if page.isEditMode %}
        			<img class="mb- cq-dd-image cq-image-placeholder" src="/etc/designs/default/0.gif">
				{%/if %}
        	{%/if%}
        </div>

        <h4 class="mb0  p-">{% content.title %}</h4>

                {%{ content.text }%}
                <btn class="button  me- {% content.readMoreStyle %}">{% content.readMore %}</btn>
            </div>
  </a>