<div class="js-summer-missions  grid">
	<div class="js-summer-missions__search  grid__item  desk--three-fifths  lap--one-half  one-whole">
	</div>
	
	<div class="grid__item  desk--two-fifths  lap--one-half  one-whole">
		<h4 class="mb-">Explore By Category</h4>
		
		<p class="mb0"><strong>US Locations</strong></p>
		<ul class="small-text">
			<li><a href="?from_weeks=1&to_weeks=2&country=united+states">1-2 Week Opportunities</a></li>
			<li><a href="?from_weeks=3&to_weeks=5&country=united+states">3-5 Week Opportunities</a></li>
			<li><a href="?from_weeks=6&to_weeks=12&country=united+states">6-12 Week Opportunities</a></li>
			<li><a href="?job=true&country=united+states">Trips Where You Can Find a Job</a></li>
		</ul>

        <p class="mb0"><strong>International Locations</strong></p>
        <ul class="small-text">
            <li><a href="?world_region=Eastern+Europe%2FRussia,western+europe">Europe</a></li>
            <li><a href="?world_region=east+asia,south+asia,southeast+asia,PACT">Asia</a></li>
            <li><a href="?world_region=Nigeria+and+West+Africa,Francophone+Africa,NAME,PACT,Southern+and+Eastern+Africa">Africa &amp; Middle East</a></li>
            <li><a href="?world_region=Latin+America">Latin America, Caribbean &amp; South America</a></li>
            <li><a href="?world_region=Oceania">Australia &amp; Oceania</a></li>
            <li><a href="?from_weeks=1&to_weeks=3&project_type=international">1-3 Week Opportunities</a></li>
        </ul>
        
        <p class="mb0"><strong>Explore By Ministry Focus</strong></p>
        <ul class="small-text">
            <li><a href="?focus=4">African-American Community</a></li>
            <li><a href="?focus=13">Art, Music, Film, Media</a></li>
            <li><a href="?focus=5">Asian-American Community</a></li>
            <li><a href="?focus=9">Athletes</a></li>
            <li><a href="?focus=2">Beach/Resorts</a></li>
            <li><a href="?focus=1">College Campus/Launching Spiritual Movements</a></li>
            <li><a href="?focus=22">Ethnic Ministry</a></li>
            <li><a href="?focus=10">For Health Students</a></li>
            <li><a href="?focus=6">For High School Students</a></li>
            <li><a href="?focus=7">For International Students</a></li>
            <li><a href="?focus=8">Greeks</a></li>
            <li><a href="?focus=3">Hispanic/Latino Community</a></li>
            <li><a href="?focus=11">Inner City</a></li>
            <li><a href="?focus=21">International Orphan Care</a></li>
            <li><a href="?focus=17">Military Community</a></li>
            <li><a href="?focus=26">Ministry to High School Students</a></li>
            <li><a href="?focus=24">Ministry to International Students</a></li>
            <li><a href="?focus=25">Missionary Kid 2 Missionary Kid (MK2MK)</a></li>
            <li><a href="?focus=14">Taking Biblical Courses</a></li>
            <li><a href="?focus=18">Taking the <em>JESUS</em> film to Unreached Places</a></li>
            <li><a href="?focus=12">Use Your Technical / Design / Administrative Skills for Ministry</a></li>
        </ul>
				
	</div>
</div>