<div class="mb">
	<!-- Social -->
	<div class="social  center-block">
    	<ul class="nav">
        	{%#if global.twitter %}
            	<li>
                	<a class="social__item  social__item--twitter  icon-twitter" href="{% global.twitter %}" rel="external"></a>
            	</li>
        	{%/if%}
        	{%#if global.facebook %}
            	<li>
                	<a class="social__item  social__item--facebook  icon-facebook" href="{% global.facebook %}" rel="external"></a>
            	</li>
        	{%/if%}
        	{%#if global.googleplus %}
            	<li>
                	<a class="social__item  social__item--gplus  icon-gplus" href="{% global.googleplus %}" rel="external"></a>
            	</li>
        	{%/if%}
    	</ul>
	</div>
	<!-- End social-->
</div>
<!-- End social wrapper -->