
<div class="grid__item  masonry__item  one-whole  {%#if  content.image-class  %}media center-block{%/if%}">
      <div class="color-white  p  mb">
        {%#if content.imagePath %}
            <div class="media__img {%#if  content.image-class  %}mask--circle{%/if%}">
              <img class="{%#if  content.image-class  %}image--circle{%/if%} mb-" src="{% content.imagePath %}">
        	</div>
    	{%else%}
        	{%#if page.isEditMode %}
        	<div class="media__img">
            	<img class="mb- cq-dd-image cq-image-placeholder" src="/etc/designs/default/0.gif">
        	</div>
        	{%/if %}
    	{%/if%} 
        <div class="media__body {%#if  content.image-class  %}text--left{%/if%}">
          {%#if content.h4-title %}
          	<h4>{% content.h4-title %}</h4>
          {%/if%}
          {%#if content.description %}
          	<p>{% content.description %}</p>
          {%/if%}	
          {%#if content.button-link%}
			{%#if content.button-text%}
          		<a class="button" href="{%content.button-link%}"> {% content.button-text %} </a>
          	{%/if%}
		   {%/if%}
        </div>
      </div>
  </div>