
<body class="page  page--{%component.bodyClass%}">
    <!-- Facebook feed js -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    {%> siteglobalbutton %}
    <div id="js-outer-wrap"  class="position--relative  full-width  overflow--hidden  outer-wrap  js-outer-wrap">
    	<div id="js-inner-wrap"  class="position--relative  full-width  inner-wrap  js-inner-wrap">
        {%> header %}
		<!-- Content wrap -->
    	<div class="page-content"  role="main">
			{%> content %}
        </div> <!-- End content wrap -->  

		{%> footer %}
	</div><!-- End #js-inner-wrap -->
  </div><!-- End #js-outer-wrap -->

   {%> footerscripts %}
</body>
