<body class="page  page--home">
    {%> siteglobalbutton %}
    <div id="js-outer-wrap"  class="position--relative  full-width  overflow--hidden  outer-wrap  js-outer-wrap">
    	<div id="js-inner-wrap"  class="position--relative  full-width  inner-wrap  js-inner-wrap">
        {%> header %}
		<!-- Content wrap -->
    	<div class="page-content"  role="main">
			{%> content %}
        </div> <!-- End content wrap -->  

		{%> footer %}
	</div><!-- End #js-inner-wrap -->
  </div><!-- End #js-outer-wrap -->

   {%> footerscripts %}
</body>
