<!-- Footer Component -->
    <footer class="global-footer">    
      <hr class="section-divider">
      
      <!-- Social wrapper -->
      <div class="mb">      
        <!-- Social -->
        <div class="social  center-block">
          <ul class="nav">
            <li>
              <a class="social__item  social__item--twitter  icon-twitter" href="#" rel="external"></a>
            </li>
            <li>
              <a class="social__item  social__item--facebook  icon-facebook" href="#" rel="external"></a>
            </li>
            <li>
              <a class="social__item  social__item--gplus  icon-gplus" href="#" rel="external"></a>
            </li>
          </ul>
        </div> 
        <!-- End social-->
      </div>
      <!-- End social wrapper -->
      
      <nav role="supplementary">        
        <ul class="nav  flush--bottom">        
          <li>         
            <a href="/">Contact Us</a>        
          </li>        
          <li>         
            <a href="/">RSS Feed</a>        
          </li>        
          <li>          
            <a href="/">Press Room</a>        
          </li>        
          <li>          
            <a href="/">Careers</a>        
          </li>        
          <li>          
            <a href="/">Terms of Use</a>        
          </li>        
          <li>          
            <a href="/">Privary Policy</a>       
          </li>      
        </ul>    
      </nav>    
      <div class="copy">      
        <small>©1994-2014 Cru. All Rights Reserved.</small>    
      </div>  
    </footer>
    <!-- End footer component -->
    
    </div><!-- End .page-content -->	

{%> footerscripts %}
