
<!-- The primary header -->
<header class="site-header"  role="banner">
	<div class="navigation-wrapper">
        <hgroup class="title-group  site-logo">
        	<a href="#"  title="Return to Homepage">
            	<h1>
                    <span class="accessibility">
                        Cru : a caring community passionate about connecting people to Jesus Christ
                    </span>
                </h1>
            </a>
       </hgroup>
       <a href="#off-canvas"  id="nav-open-btn"  class="topbar-toggle  topbar-open  nav-link  nav-link--full  position--absolute">
           Menu
           <i class="icon-hamburger"></i>
       </a>
	</div>
</header>
<!-- End primary header -->


    
