{% initWCMScript "" %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/restangular/1.3.1/restangular.min.js"></script>
<!-- Load Javascipt libraries the need to be at the top of the page -->
<script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
<script id="twitter-wjs" src="//platform.twitter.com/widgets.js"></script>
{%> extrascripts %}
