		    <div id="js-container"  class="js-container">

<!-- The primary header -->
<header class="site-header"  role="banner">
	<div class="navigation-wrapper">
        <hgroup class="title-group  site-logo">
        	<a href="#"  title="Return to Homepage">
            	<h1>
                    <span class="accessibility">
                        Cru : a caring community passionate about connecting people to Jesus Christ
                    </span>
                </h1>
            </a>
       </hgroup>
       <a href="#off-canvas"  id="nav-open-btn"  class="topbar-toggle  topbar-open  nav-link  nav-link--full  position--absolute">
           Menu
           <i class="icon-hamburger"></i>
       </a>
	</div>
</header>
<!-- End primary header -->

    </div>

     <!-- Navigation for off cnavas and primary navigaiton: This is at the very bottom of the page -->
		<nav  id="off-canvas" class="navigation  js-navigation">			
			<ul class="nav  right-nav  flush--bottom">
				<li class="spoken-form  nav__item">
					<form class="site-search"  method="post" onsubmit=""  action="#" name="search">
						<input class="search-field  text-input" placeholder="Search" type="search" />
						<button class="search-button" value="" type="submit"><i class="icon-search"></i></button>
					</form>
				</li>
			</ul>						

			<ul class="nav  site-nav  flush--bottom">
				
				<!-- If the li has a dropdown add the .has-dropdown and .js-has-drowpdown classes -->
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">How to Know God</a>

					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item  has-dropdown--sub  js-has-dropdown--sub  position--relative">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
					
				</li>
				<!--End .nav-link.has-dropdown-->
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Train & Grow</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Opportunities</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">About</a>
							<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
								<ul class="nav  pe--">
			
							<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
									</li>
									<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
									</li>							
									<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
									</li>
									<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
									</li>
									<li class="dropdown__item">
										<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
									</li>
			
						    </ul>
							</div>
							<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Communities</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Store</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
				<li class="nav__item  has-dropdown  js-has-dropdown">
					<a href="#"  class="nav-link">Give</a>
					<!-- Dropdown -->
					<div class="dropdown  full-width  overflow--hidden  position--fixed  text--left">
						<ul class="nav  pe--">
							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/would-you-like-to-know-god-personally/index.htm">Would You Like to Know God Personally?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/who-is-jesus-god-or-just-a-good-man/index.htm">Who Is Jesus?</a>
							</li>							
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/did-jesus-christ-really-rise-from-the-dead/index.htm">Did Jesus Rise From the Dead?</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/jesus-and-the-intellectual/index.htm">Jesus and the Intellectual</a>
							</li>
							<li class="dropdown__item">
								<a class="ps-  pe--" href="http://www.cru.org/how-to-know-god/my-story-a-life-changed/index.htm">My Story</a>
							</li>
							
            </ul>
					</div>
					<!-- End dropdown -->
				</li>
	
	
			</ul>
			<a href="#" id="nav-close-btn"  class="topbar-toggle  topbar-close">Close</a>
		</nav>
