<!-- 
                                                                                    +++
                                                                                    +++
                                                                              ddd   +++
                                                                              hhh   +++
                                                                              hhh   +++
                                                                              hhh   +++
                                                                              hhh   +++
                                                                              hhh   +++
                                                                  dddddddddddhhhh   ++++++++++++++++++++
                                                                  hhhhhhhhhhhhhhh   ++++++++++++++++++++

                                                              ///////////////////   ooooooooooooooo  
                                                              ssssssssssssssso:::   +++syyyyyyyyyyy
                                                                              :::   +++
                                                                              :::   +++
                                                                              :::   +++
                                                                              :::   +++
                                                                              :::   +++
           yyyyyyyyyyyy         hyyy  yyyyyyy  yyy                 yyy        :::   +++
        yyyyy        yyyyy      hyyyyyyy       myy                 yyy        :::   +++
      yyyy              yyyy    hyyyyy         yyy                 yyy        :::   +++
     yyy                        hyyyy          myy                 yyy              +++
    yyyy                        hyyy           myy                 yyy              +++
    yyy                         hyyy           myy                 yyy              +++
    yyy                         hyyy           myy                 yyy              yyy
    yyy                         hyyy           myy                 yyy
    yyyy                        hyyy           myyy                yyy
     yyyy                 yy    hyyy           myyy               yyy
       yyy              yyy     hyyy            myyyy            yyy
         yyyyy      yyyyy       hyy                yyyyy      yyyyy
            yyyyyyyyyy          hyyy                  yyyyyyyyyy
-->


<head>
    {%> metas %}
    {%> styles %}
	{%> headscripts %}
</head>
