<!-- The primary header -->
<header class="site-header"  role="banner">
        <hgroup class="title-group  site-logo">
            <a href="{%global.homepagePath%}.html"  title="Return to Homepage">
            	<h1>
                    <span class="accessibility">
                        Cru : a caring community passionate about connecting people to Jesus Christ
                    </span>
                </h1>
            </a>
       </hgroup>
       <a href="#nav"  id="nav-open-btn"  class="topbar-toggle  topbar-open   position--absolute">Menu <i class="icon-hamburger"></i></a>
</header>
<!-- End primary header -->

{%#include "main-navigation" as="CruOrgApp/components/section/main-navigation"%}{%/include%}
