
<div class="section-title center-block  masonry__item  grid__item">
	<h2 class="section-title__item  post-title  display--inline-block">
		{%#if content.text%}	
			{%content.text%}
		{%else%}
			{%#if page.isEditMode%}
				&para;
			{%/if%} 
		{%/if%}
	</h2>
	{%#if content.link%}
		{%#if content.label%}
			<div class="section-title__item  display--inline-block  inline-btn">
				<a href="{%content.link%}" class="button  button--{%content.style%}">{%content.label%}</a>

			</div>
		{%/if%}
	{%/if%}
</div>