<div class="primary-search__results">
    {%#if content.hits %}
        {%!Results %}
        <div class="layout-single-column">
            <h3>{%{content.statisticsText}%}</h3>
        </div>

        <ul class="block-list  mb-">
            {%#each content.hits %}
                <li class="primary-search__results--item">
                    <a class="layout-single-column"  href="{%this.URL%}">
                        <h4 class="results-title  pb--  mb0">{%{this.title}%}</h4>
                        <!-- Limit to 20-25 words -->
                        <p class="pb-  mb0">{%{this.excerpt}%}</p>
                    </a>
                </li>
            {%/each%}
        </ul>

        {%!Paginator %}
        <div class="layout-single-column">
            {%#if content.showPagination %}
                <ol class="nav  pagination  layout-single-column">
                    <li class="pagination__prev">
                        {%#if content.result.previousPage %}
                            <a class="button  button--small  button--subtle">{%content.previousText%}</a>
                        {%else%}
                            {%content.previousText%}
                        {%/if%}
                    </li>

                    {%#each content.result.resultPages %}
                        {%#if this.currentPage %}
                            <li class="current">
                        {%else%}
                            <li>
                        {%/if%}
                            <a href="{% this.URL %}">{% this.pageNumber %}</a>
                        </li>
                    {%/each%}

                    <li class="pagination__next">
                        {%#if content.result.previousPage %}
                        <a class="button  button--small  button--subtle">{%content.nextText%}</a>
                        {%else%}
                            {%content.nextText%}
                        {%/if%}
                    </li>
                </ol>
            {%/if%}
        </div>
    {%else%}
        {%!No Results %}
        <div class="layout-single-column">
            {%#if content.result.spellcheck %}
            {%{content.spellcheckText}%}<br>
            {%/if%}
            {%#if content.escapedQuery %}
            {%{content.noResultsText}%}
            {%/if%}
            {%#if page.isEditMode %}
                {%#unless content.escapedQuery %}
                    [SEARCH RESULTS]<br>
                    {%#unless content.pagesToSearch %}
                        Set a <strong>page to search</strong> in the dialog.
                    {%/unless%}
                {%/unless%}
            {%/if%}
        </div>
    {%/if%}
</div>
