<div class="primary-search__results" data-asynchronous-path="{%global.searchResourcePath%}">
    {%#if global.hits %}
        {%!Results %}
        <div class="layout-single-column">
            <h3>{%{global.statisticsText}%}</h3>
        </div>

        <ul class="block-list  mb-">
            {%#each global.hits %}
                <li class="primary-search__results--item">
                    <a class="layout-single-column"  href="{%this.URL%}">
                        <h4 class="results-title  pb--  mb0">{%{this.title}%}</h4>
                        <!-- Limit to 20-25 words -->
                        <p class="pb-  mb0">{%{this.excerpt}%}</p>
                    </a>
                </li>
            {%/each%}
        </ul>

        {%!Paginator %}
        <div class="layout-single-column">
            {%#if global.showPagination %}
                <ol class="nav  pagination  layout-single-column">
                    <li class="pagination__prev">
                        {%#if global.previousPage %}
                            <a href="{%global.previousPage.URL%}"
                               class="button  button--small  button--subtle">{%global.previousText%}</a>
                        {%else%}
                            {%global.previousText%}
                        {%/if%}
                    </li>

                    {%#each global.resultPages %}
                        {%#if this.currentPage %}
                            <li class="current">
                        {%else%}
                            <li>
                        {%/if%}
                            <a href="{% this.URL %}">{% this.pageNumber %}</a>
                        </li>
                    {%/each%}

                    <li class="pagination__next">
                        {%#if global.nextPage %}
                        <a href="{%global.nextPage.URL%}"
                           class="button  button--small  button--subtle">{%global.nextText%}</a>
                        {%else%}
                            {%global.nextText%}
                        {%/if%}
                    </li>
                </ol>
            {%/if%}
        </div>
    {%else%}
        {%!No Results %}
        <div class="layout-single-column">
            {%#if global.escapedQuery %}
            {%{global.noResultsText}%}
            {%/if%}
            {%#if page.isEditMode %}
                {%#unless global.escapedQuery %}
                    [SEARCH RESULTS]<br>
                    {%#unless global.pagesToSearch %}
                        Set a <strong>page to search</strong> in the Global Properties.
                    {%/unless%}
                {%/unless%}
            {%/if%}
        </div>
    {%/if%}
</div>
