<form class="primary-search" method="post" onsubmit=""  action="#" name="search">

    <!-- Search input field -->
    <input class="search-field  text-input" placeholder="Search" type="search">

    <!-- Search icon -->
    <button class="search-button  button--icon" type="submit">
        <i class="icon-search"></i>
    </button>

    <!-- Dropdown open button -->
    <button class="search-button" value="" type="submit">
		<i class="icon-search"></i>
	</button>

    <!-- The dropdown search items -->
    <ul class="primary-search--dropdown  bare-list">
        {%#if global.path1 %}
            {%#if global.label1 %}
                <li><a href="{%global.path1%}.html">{%global.label1%}</a></li>
            {%/if%}
        {%/if%}
        {%#if global.path2 %}
            {%#if global.label2 %}
                <li><a href="{%global.path2%}.html">{%global.label2%}</a></li>
            {%/if%}
        {%/if%}
    </ul>
</form>