<div class="grid__item text--center one-whole {%#if content.width %}{% content.width %}{%else%}{%#if page.isEditMode %}desk--one-third{%/if %}{%/if%}">
    <div class="color-white  mb  box-shadown--thin">
      <div>
			{%#if content.imagePath %}
        		<img class="mb-" src="{% content.imagePath %}" alt="{% content.title %}">
        	{%else%}
				{%#if page.isEditMode %}
        			<img class="mb- cq-dd-image cq-image-placeholder" src="/etc/designs/default/0.gif">
				{%/if %}

        	{%/if%}
      </div>
      <h4 class="mb0  p-">{% content.title %}</h4>
      <p class="text--left mb0  ps-">
      	{% content.text %}
      </p>
 		{%#if content.href %}
        	<a class="button me- {% content.readMoreStyle %}" href="{% content.href %}">{% content.readMore %}</a>
        {%/if%}
    </div>
  </div>
