<div class="grid__item masonry__item {%#if content.width %}{% content.width %}{%else%}desk--one-third  lap--one-half  one-whole{%/if%}">
    <div class="tile__item">
			{%#if content.imagePath %}
        		<div>
                    {%#if content.href %}
                         <a href="{% content.href %}">
                    {%/if %}
                    <img src="{% content.imagePath %}" alt="{% content.title %}">
                    {%#if content.href %}
                         </a>
                    {%/if %}
                </div>
        	{%else%}
				{%#if page.isEditMode %}
        			<div><img class="cq-dd-image cq-image-placeholder" src="/etc/designs/default/0.gif"></div>
				{%/if %}

        	{%/if%}
      {%#if content.title %}
        {%#if content.href %}
            <a href="{% content.href %}">
        {%/if %}
        <h4>{% content.title %}</h4>
        {%#if content.href %}
            </a>
        {%/if %}
      {%/if %}

          {%{ content.text }%}
 		{%#if content.href %}
        	<a class="button button--small {% content.readMoreStyle %}" href="{% content.href %}">{% content.readMore %}</a>
        {%/if%}
    </div>
  </div>