resource.resolver.manglenamespaces=B"true"
resource.resolver.map.location="/etc/map"
resource.resolver.default.vanity.redirect.status=I"302"
resource.resolver.mapping=["/-/","/apps/xumakbase/static/-/","/apps/CruOrgApp/static/-/"]
resource.resolver.searchpath=["/apps","/libs","/apps/foundation/components/primary","/libs/foundation/components/primary"]
resource.resolver.required.providers=["org.apache.sling.jcr.resource.internal.helper.jcr.JcrResourceProviderFactory"]
resource.resolver.allowDirect=B"true"
resource.resolver.virtual=["/:/"]
