 {%#if content.showContent %}
{%#if page.isEditMode %}
<div class="bordered">
{%/if%}
<article class="post-article">

        <!-- ARTICLE HEADLINE COMPONENT -->
        <header class="post__headline  layout-single-column">

        <h1 class="post-title">{% content.title %}</h1>

        <ul class="post-meta">
        {%#if page.author %}
        	<li class="accent">by {% page.author %}</li>
        {%/if%}
         {%#if page.twitterUser %}
          	<li class="accent">
                <a href="https://twitter.com/{% page.twitterUser %}">@{% page.twitterUser %}</a>
   	        </li>
         {%/if%}
         {%#if page.dateText %}
            <li>
         	    <time>{% page.dateText %}</time>
            </li>
         {%/if%}
        </ul>

        </header>


        
        <!-- POST BODY -->
        <div class="post__body  layout-single-column">
            {%#include "article-share" as="CruOrgApp/components/section/article-share"%}{%/include%}

            <!-- Legacy Image -->
            <figure class="image--legacy">
                {%#if content.imagePath%}    
            <img class="" src="{%content.imagePath%}"/>
                 {%else%}
            {%#if page.isEditMode%}
                    	<img title="" alt="" class="cq-dd-text cq-text-placeholder" src="/etc/designs/default/0.gif" />
                            {%/if%}
                             {%/if%}
                <figcaption class="image__caption">
                {%content.imageCaption%}
            <span class="image-credit">{%content.imageCredit%}</span>
            </figcaption>
            </figure>
    {%#if page.isEditMode %}
<div style="clear:both;"></div>
    {%/if%}

            {%#if content.show%}
            <!-- The component: a link list with one extra class on the wrapper -->
            {%#include "inset-sidebar" as="CruOrgApp/components/section/inset-sidebar"%}{%/include%}
            {%/if%}

            {%#if page.isEditMode %}
<div style="clear:both;"></div>
    {%/if%}
            {%#include "article-long-form-parsys" as="foundation/components/parsys"%}{%/include%}

            <ol class="nav  pagination  layout-single-column">
                            {%#if page.prevSiblings %}

                    <li class="pagination__prev">
                            <a href="{%page.prevSiblings%}"
                             class="button  button--small  button--subtle">{%global.articleLongFormPreviousLabel%}</a>

                    </li>
            {%/if%}
            {%#if page.nextSiblings %}


                    <li class="pagination__next">
                        <a href="{%page.nextSiblings%}"
                           class="button  button--small  button--subtle">{%global.articleLongFormNextLabel%}</a>
                    </li>
                                            {%/if%}

                </ol>

    	</div>        
    </article>
{%#if page.isEditMode %}
</div>
{%/if%}
{%/if%}