<div class="page__links-wrap">
    <ul class="page__links  nav  grid__item">
        <li>
            <a href="https://google.com">Summer Missions</a>
        </li><!--
        --><li>
            <a href="https://google.com">Learn</a>
        </li><!--
        --><li>
            <a href="https://google.com">Explore</a>
        </li><!--
        --><li>
            <a href="https://google.com">Plan</a>
        </li><!--
        --><li>
            <a href="https://google.com">Apply</a>
        </li>
    </ul>
</div>