<div class="page__links-wrap">
    <ul class="page__links  nav  grid__item">
        <li>
            <a href="/content/cru/us/en/opportunities/mission-trips/summer.html">Summer Missions</a>
        </li><!--
        --><li>
            <a href="/content/cru/us/en/opportunities/mission-trips/summer/learn.html">Learn</a>
        </li><!--
        --><li>
            <a href="/content/cru/us/en/opportunities/mission-trips/summer/explore.html">Explore</a>
        </li><!--
        --><li>
            <a href="/content/cru/us/en/opportunities/mission-trips/summer/plan.html">Plan</a>
        </li><!--
        --><li>
            <a href="http://sp.cru.org" onclick="event.preventDefault(); summermissions_apply(this.href);">Apply</a>
        </li>
    </ul>
</div>