<div class="summer-missions__nav  full-width  text--center  grid__item">
    <ul class="nav  position--relative  center">
        <li class="button-group"><a href="https://google.com">Summer Missions</a></li>
        <li><a href="https://google.com">Learn</a></li>
        <li><a href="https://google.com">Explore</a></li>
        <li><a href="https://google.com">Plan</a></li>
        <li><a href="https://google.com">Apply</a></li>
    </ul>
</div>

<style>
    .summer-missions__nav ul {top: 71px; z-index: 1;}
    .summer-missions__nav ul li {display: inline-block; position: relative; vertical-align: middle;}
    .summer-missions__nav ul li > a {display: inline-block; padding: 8px 26px; background-color: #666062; border-color: #595455; position: relative; float: left; color: #ffffff; font-weight: 500; font-size: 17px;}
    .summer-missions__nav ul li a:hover {background-color: #514c4e; border-color: #393637; text-decoration: none;}
    
    .page--article .summer-missions__nav ul {z-index: 1; margin-bottom: 42px; top: 42px;}
    
    @media only screen and (max-width: 580px) {
        .summer-missions__nav ul a {font-size: 80%;}
    }
    
    @media only screen and (max-width: 501px) {
        .summer-missions__nav ul {left: -2px;}
        .summer-missions__nav ul li > a {font-size: 14px; padding: 6px 16px; margin-right: -3px; }
    }
</style>