<figure class="{%#if content.style %}{% content.style %}{%else%}{%#if page.isEditMode %}image--inset__left{%/if %}{%/if%}">
    {%#if content.imagePath %}
        <img class="" src="{% content.imagePath %}">
    {%else%}
        {%#if page.isEditMode %}
            <div class="cq-placeholder cq-dd-image" data-emptytext="Capture Image"></div>
        {%/if %}
    {%/if%}
    {%#unless content.isCaptionEmpty %}

    <figcaption class="image__caption">{% content.caption %}
<span class="image-credit">{%content.imageCredit%}</span>
</figcaption>
    {%/unless%}

</figure>
{%#if page.isEditMode %}<div style="clear:both;"></div>{%/if %}


