@if $use-media == true{

/*------------------------------------*\
    $MEDIA
\*------------------------------------*/
/**
 * Deals with text in combination with images and video content by 
 * placing them side by side. 
 * Ex: 
 *
   <div class="media">
       <img src="http://placekitten.com/200/300" alt="" class="media__img">
       <p class="media__body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
   </div>
 *
 */
.media{
    @extend %cf;
    display: block;
}

    %media__img--width{        
        @include mq(1000px){
            max-width: 25%;
        }
    }
    
    .media__img{
        @extend %media__img--width;
        
        @include mq(1000px){
            float:left;
            margin-right: $base-spacing-unit;
        }
    }
    
    /**
     * Reversed image location (right instead of left).
     */
    .media__img--rev{
        @extend %media__img--width;
        
        @include mq(1000px){
            float:right;
            margin-left: $base-spacing-unit;
        }
    }

        .media__img img,
        .media__img--rev img{
            display: block;
        }

    .media__body{
        overflow: hidden;
    }
    
        .media__body,
        .media__body > :last-child{
            @extend %m0;
        }
    
        .grid__item.media{
            @extend %mb0;
        }


}//endif