<article class="post-article">

                                <!-- ARTICLE HEADLINE COMPONENT -->
                                    <header class="post__headline  layout-single-column">
                                        
                                        <h1 class="post-title">Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</h1>
                                        
                                        <ul class="post-meta">
                                            <li class="accent">by Ultricies Nullam Lorem</li>
                                            <li class="accent">
                                                <a href="#">@Vestibulum</a>
                                                </li>
                                                <li>
                                                    <time>4 days ago</time>
                                                    </li>	
                                                    </ul>
                                                    
                                                    </header>
                                                    
                                                    
                                                    <!-- POST BODY -->
                                                        <div class="post__body  layout-single-column">
                                                            
                                                            <!-- Legacy Image -->
                                                                <figure class="image--legacy">
                                                                    <img class="" src="http://baconmockup.com/1100/820"/>
                                                                        <figcaption class="image__caption">
                                                                            Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                                                                            <span class="image-credit">Photo by Bruce Wayne</span>
                                                                            </figcaption>
                                                                            </figure>
                                                                            
                                                                            <!-- The component: a link list with one extra class on the wrapper -->
                                                                                <nav class="post-nav">
                                                                                    <h3 class="mb--">There are more articles:</h3>
                                                                                    <ul class="numbered-list">
                                                                                        <li>
                                                                                            <a href="#">Condimentum Tortor Venenatis Inceptos</a>
                                                                                            </li>
                                                                                            <li>
                                                                                                <a href="#">Parturient Ridiculus Pellentesque Sem</a>
                                                                                                </li>
                                                                                                <li>
                                                                                                    <a href="#">Fermentum Cursus Vulputate Malesuada</a>
                                                                                                    </li>
                                                                                                    <li>
                                                                                                        <a href="#">Risus Sem Tellus Nibh Vulputate</a>
                                                                                                        </li>
                                                                                                        <li>
                                                                                                            <a href="#">Donec sed odio dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</a>
                                                                                                            </li>
                                                                                                            <li>
                                                                                                                <a href="#">Nullam id dolor id nibh ultricies vehicula ut id elit. Etiam porta sem malesuada magna mollis euismod. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</a>
                                                                                                                </li>
                                                                                                                </ul>
                                                                                                                </nav>
                                                                                                                
                                                                                                                <!-- Testing paragraphs -->
                                                                                                                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec sed odio dui.
                                                                                                                    Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo
                                                                                                                    luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec
                                                                                                                    sed odio dui. Curabitur blandit tempus porttitor.
                                                                                                                    </p>
                                                                                                                    
                                                                                                                    <!-- .pullquote text default in an <em> -->
    <blockquote class="pullquote">
    <em>Integer posuere erat a ante venenatis dapibus posuere
    velit aliquet. Vestibulum id ligula porta felis euismod semper.
    </em>
    </blockquote>
    
    <p>Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla
    sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
    nibh, ut fermentum massa justo sit amet risus. Donec sed odio dui. Sed posuere
    consectetur est at lobortis. Vivamus sagittis lacus vel augue laoreet rutrum
    faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl
    consectetur et.
    </p>
    
    
    <!-- Image inset to the left -->
    <figure class="image--inset__left">
    <img class="" src="http://baconmockup.com/1100/820"/>
    <figcaption class="image__caption">Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.</figcaption>
    </figure>
    <!-- Testing paragraphs -->
    <p>Donec ullamcorper nulla non metus auctor fringilla. Maecenas sed diam eget risus
    varius blandit sit amet non magna. Aenean eu leo quam. Pellentesque ornare sem lacinia
    quam venenatis vestibulum. Curabitur blandit tempus porttitor. Morbi leo risus, porta
    ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor
    mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, 
    consectetur adipiscing elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. 
    Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque
    penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed posuere consectetur
    est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget
    lacinia odio sem nec elit.
    </p>
    <!-- Standard blockquotes text are in a <p> tag -->
    <blockquote>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
    Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    </p>
    </blockquote>
    

    <!--Image expands past content to the left and right -->
    <figure class="image--outset__center">
    <img class="" src="http://baconmockup.com/1300/540"/>
    <figcaption class="image__caption">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</figcaption>
    </figure>
    <!-- Testing paragraphs -->
    <p>Donec sed odio dui. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh
    ultricies vehicula ut id elit.Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.
    </p>
    <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas faucibus mollis
    interdum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non
    mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
    </p>
    
    <!-- Image expands past content to the left -->
    <figure class="image--outset__left">
    <img class="" src="http://baconmockup.com/1000/790"/>
    <figcaption class="image__caption">Vestibulum id ligula porta felis euismod semper.</figcaption>
    </figure>
    <!-- Testing paragraphs -->
    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo,
    tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nulla vitae elit libero, a
    pharetra augue. Curabitur blandit tempus porttitor.</p>
    <p>Cras mattis consectetur purus sit amet fermentum. Vestibulum id ligula porta felis euismod semper.
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
    
    <!-- .pullquote text default in an <em> -->
    <blockquote class="pullquote"><em>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper.</em></blockquote>
    
    
    </div>        
    </article>
      
    {%#include "facebook-coments-feed" as="CruOrgApp/components/section/facebook-comments-feed"%}{%/include%}

    