/*------------------------------------*\
    $LISTS
\*------------------------------------*/
/**
 * Remove vertical spacing from nested lists.
 */
li{
    > ul,
    > ol,
	> dl{
         margin-bottom: 0;
     }
}

/**
 * Have a numbered `ul` without the semantics implied by using an `ol`.
 */
/*ul*/.numbered-list{
    list-style-type: decimal;
}

/**
 * Removes the indentation and the bullets from a list
 */
.bare-list, %bare-list{
	margin:  0;
	padding: 0;
	list-style: none;
}

.block-list{
	list-style: none;
	margin: 0;
	
	> li a{
		display: block;
	}
}