{%#if content.today%}
    <article class="post-article daily-content" data-servletPath="{%content.path%}.dailypaths.json">
        <!-- ARTICLE HEADLINE COMPONENT -->
        <header class="post__headline  layout-single-column daily-content"></header>
        <!-- POST BODY -->
        <div class="post__body  layout-single-column daily-content">
            {%#include "article-share" as="CruOrgApp/components/section/article-share"%}{%/include%}
            <figure></figure>
            <div class="daily-content-container"></div>
            <ol class="grid  pagination">          
        	</ol>       
        </div>

    </article>

{%else%}
	{%#if page.isEditMode%}
        <header class="post__headline  layout-single-column daily-content">
            <h1>Daily Content</h1>
            <h2>No content</h2>
        </header>
    {%/if%}
{%/if%}
