<!-- Navigation for off canvas and primary navigaiton: This is at the very bottom of the page -->
<nav id="nav" class="navigation">
    <ul class="nav  right-nav ">

        <!--Search-->
        {%#include "search-box" as="CruOrgApp/components/section/searchbox"%}{%/include%}

        <!--Search - END-->
    </ul>
    <ul class="nav  site-nav">
        {%#each list.pages%}

        <li class="nav__item">
            <a href="{%this.vanityPath%}.html"  class="nav__link  primary-link">{%this.navigationTitle%}<i class="icon-down-arrow small-text"></i></a>
            {%#with this.pages%}
            {%#if this%}
            <div class="dropdown">
                <ul class="grid">
                    <li class="grid__item  desk--one-third  dropdown--column">
                        {%#each this%}
                        <div class="mb- ms- p- color-darker-gray">
                            <a href="{%this.vanityPath%}.html">{%this.title%}</a>
                            {%#with this.pages%}
                            {%#if this%}

                            <ul class="bare-list">

                                {%#each this%}

                                    <li><a href="{%this.vanityPath%}.html">{%this.title%}</a></li>
                                {%/each%}
                            </ul>
                            {%/if%}
                            {%/with%}

                        </div>
                        {%/each%}

                    </li>


                </ul>

            </div>
            {%/if%}
            {%/with%}

        </li>
        {%/each%}

    </ul>
    <a href="#" id="nav-close-btn"  class="topbar-toggle  topbar-close">Close</a>

</nav>