   <!-- Slider Component -->
        {%#include "main-slider" as="CruOrgApp/components/section/main-slider"%}{%/include%}
    <!-- End slider component -->

    <!-- Homepage social bar -->
        {%#include "social-bar" as="CruOrgApp/components/section/social"%}{%/include%}
    <!-- End hompage socail bar-->
    

    
    <!-- Primary wrapper for home page-->
    <div class="layout--wide">
        <div class="mt center-block  home-banner">
            {%#include "section-title" as="CruOrgApp/components/section/section-title"%}{%/include%}
    
         </div>
    
        <hr class="section-divider">
        <!-- Tiles -->
        <div  class="grid masonry-container"> <!--This and the following grid is using same markup as tile-components for the tiles-->
            {%#include "tile-container-parsys" as="foundation/components/parsys"%}{%/include%}
        </div>

        <hr class="section-divider">

         <!--Two large buttons. One for finder other for Start Relationship...-->
        <div class="grid  button-group  mb-">
              {%#include "home-section-container-left" as="CruOrgApp/components/section/home-section-container"%}{%/include%}
              {%#include "home-section-container-right" as="CruOrgApp/components/section/home-section-container"%}{%/include%}
        </div>

        <hr class="section-divider">

         <!--List items for the quasi site map and facebook iframe-->
         <div class="grid">
           <div class="grid__item one-whole desk--one-half">
    
             <div class="grid">
                 <div class="grid__item  lap--one-half desk--one-half">
                     {%#include "home-page-curated-1" as="CruOrgApp/components/section/lists/home-page-curated"%}{%/include%}
                     {%#include "home-page-curated-2" as="CruOrgApp/components/section/lists/home-page-curated"%}{%/include%}
                 </div>
                 <div class="grid__item  lap--one-half desk--one-half">
                     {%#include "home-page-curated-3" as="CruOrgApp/components/section/lists/home-page-curated"%}{%/include%}
                 </div>
             </div> <!--end grid-->
           </div> <!--end grid__item-->
           <div class="grid__item  desk--one-half">
                {%#include "home-section-container-parsys-2" as="foundation/components/parsys"%}{%/include%}
           </div>
    
         </div> <!--end grid-->
        <!-- End tiles -->
	</div>
