<!-- Content wrap -->
    <div class="page-content">  
    <!-- Slider Component -->
    <div class="content-slider  position--relative  overflow--hide  mb">

      <div class="slider  centered  position--relative">
        <!-- .mask -->
        <div class="slider__mask  overflow--hide">
          <ul class="bare-list">

            <li class="slider__item  position--absolute  full-height">
              <a class="position--relative  display--block  full-height" href="#camera">
                <div class="full-height  full-width">
                  <!-- This is the background image style that will be changed based on the article image -->
                  <div class="background-image" style="background-image: url('http://cruglobal.github.io/patterns/assets/images/cru640x360_story_01.jpg')"></div>
                </div>
                <div class="article-details  position--absolute  p0">
                  <h3 class="affordance  display--block  m0">6 Things Every Christian Should Do Superbowl Weekend</h3>
                </div>
              </a>
            </li>
  
            <li class="slider__item  position--absolute  full-height">
              <a class="position--relative  display--block  full-height"  href="#birds">
                <div class="full-height  full-width">
                  <!-- This is the background image style that will be changed based on the article image -->
                  <div class="background-image" style="background-image: url('http://cruglobal.github.io/patterns/assets/images/cru640x360_story_02.jpg')"></div>
                </div>
                <div class="article-details  position--absolute  p0">
                     <h3 class="affordance  display--block  m0">Emma Had a Burden of Guilt and a Masking Smile</h3>
                </div>
              </a>

            </li>
            <li class="slider__item  position--absolute  full-height">
              <a class="position--relative  display--block  full-height" href="#train">
                <div class="full-height  full-width">
                  <!-- This is the background image style that will be changed based on the article image -->
                  <div class="background-image" style="background-image: url('http://cruglobal.github.io/patterns/assets/images/cru640x360_story_03.jpg')"></div>
                </div>
                <div class="article-details  position--absolute  p0">
                     <h3 class="affordance  display--block  m0">Pre-cancer Susie's Journey of Doubt Before a Brain Tumor</h3>
                </div>
              </a>
            </li>
            <li class="slider__item  position--absolute  full-height">
              <a class="position--relative  display--block  full-height" href="#tea">
                <div class="full-height  full-width">
                  <!-- This is the background image style that will be changed based on the article image -->
                  <div class="background-image" style="background-image: url('http://cruglobal.github.io/patterns/assets/images/cru640x360_story_04.jpg')"></div>
                </div>
                <div class="article-details  position--absolute  p0">
                     <h3 class="affordance  display--block  m0">Yes, It is Possible to Have a Long-Distance Ministry</h3>
                </div>
              </a>
            </li>
          </ul>
        </div>

        <!-- end .mask -->
      </div>
      <a class="slider-control  slider-control__prev  position--absolute">
            <span class="slider-control--btn  position--absolute">
              <i class="icon-left-arrow"></i>
            </span>
      </a>
      <a class="slider-control  slider-control__next  position--absolute">
            <span class="slider-control--btn  position--absolute">
              <i class="icon-right-arrow"></i>
            </span>
      </a>
    </div>
    <!-- End slider component -->

    <!-- Homepage social bar -->
    <div class="center--block  color-white">
      <div class="layout--cap">
        <div class="push-half--sides">
          <div class="push-third--right  fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
          <a href="https://twitter.com/crutweets" class="twitter-follow-button  push-fourth--right" data-show-count="false" data-lang="en">Follow @crutweets</a>
          <!-- Place this tag where you want the +1 button to render. -->
          <div class="g-plusone" data-size="medium" data-annotation="none"></div>
          <!-- Place this tag after the last +1 button tag. -->
          <script type="text/javascript">
            (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/platform.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
            })();
          </script>
        </div>
      </div>
    </div>
    <!-- End hompage socail bar-->
    
    <!-- Section-title wrapper on homepage to add margin -->
    <div class="mb  ps-">
      
      		{%#include "section-title-main" as="CruOrgApp/components/section/section-title"%}{%/include%}

      
    </div>
    
    <!-- Primary wrapper for home page-->
    <div class="layout-single-column  layout--wide">
      
    <!-- Tiles -->
    <div  class="grid mb"> <!--This and the following grid is using same markup as tile-components for the tiles-->
		{%#include "tile-container-parsys" as="foundation/components/parsys"%}{%/include%}
    </div>

    
    <div class="mt center-block  home-banner">
    	{%#include "section-title" as="CruOrgApp/components/section/section-title"%}{%/include%}

     </div>

    <hr class="section-divider">

     <!--Two large buttons. One for finder other for Start Relationship...-->
     <div class="grid  button-group">
      <!-- button one -->
      {%#include "home-section-container-1" as="CruOrgApp/components/section/home-section-container"%}{%/include%}
      <!-- button two -->
      {%#include "home-section-container-2" as="CruOrgApp/components/section/home-section-container"%}{%/include%}
    </div>


     <!--List items for the quasi site map and facebook iframe-->
     <div class="grid">
       <div class="grid__item one-whole desk--one-half">

         <div class="grid m--">
           		{%#include "home-section-container-parsys-1" as="foundation/components/parsys"%}{%/include%}
         </div> <!--end grid-->
       </div> <!--end grid__item-->
       <div class="grid__item  desk--one-half">
         <div class="m--">
           		{%#include "home-section-container-parsys-2" as="foundation/components/parsys"%}{%/include%}
         </div>
       </div>

     </div> <!--end grid-->
    <!-- End tiles -->
    
    </div>
    <!-- End primary wrapper -->
